<%= render partial: 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:sales_report_groups, scope: :grouped_sales_reports) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_sales_report_group, scope: :grouped_sales_reports), new_object_url, icon: 'icon-plus' %>
  </li>
<% end %>

<% unless @sales_report_groups.any? %>
  <div class="no-objects-found">
    <%= Spree.t(:no_results) %>
  </div>
<% else %>
  <table class="index">
    <colgroup>
      <col style="width: 29%">
      <col style="width: 50%">
      <col style="width: 21%">
    </colgroup>
    <thead>
      <tr data-hook="sales_report_groups_header">
        <th><%= Spree.t(:sales_report_group_name, scope: :grouped_sales_reports) %></th>
        <th><%= Spree.t(:sales_report_group_variants, scope: :grouped_sales_reports) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @sales_report_groups.each do |group|%>
        <tr id="<%= spree_dom_id group %>" data-hook="rate_row" class="<%= cycle('odd', 'even')%>">
          <td><%= link_to group.name, spree.admin_sales_report_group_path(group) %></td>
          <td><%= group.sales_report_group_variants.map(&:variant).flatten.map(&:sku).join(', ') %></td>
          <td class="actions">
            <%= link_to_edit group, no_text: true %>
            <%= link_to_delete group, no_text: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
